ul {
    list-style-type: none;
    display: inline;
}
.post-card {
    border: 2px solid blue;
}
.post-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 0;
}
.post-pic{
    border: 2px solid red;
    color:black;

}
.post-comment {
    border: 2px solid black;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}