.LandingPage-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5em;
    height: 50em;
    justify-items: center;
    align-items: center;

}

.Intro {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}

.Access-Info {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.Register-Button {
    border-radius: 3%;
    height: 2em;
    width: 12em;
    background-color: rgba(2, 135, 243, 0.703);
    font-size: 25px;
}

.Register-Button:hover {
    background-color: rgb(139, 205, 205);
    color: rgb(140, 140, 236);
    cursor: pointer;
}