body{
    background-color: rgb(6, 58, 130);
}
.mainPage {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 800px;
}
.intro {
    border: 2px solid black;
    align-self: center;
}
.form {
    border: 2px solid red;
    align-self: center;
    display:grid;
}