.profile-container {
    display: flex;
    flex-direction: column;
    height: 50em;

    justify-content: center;
    align-items: center;
}

.intro-profile {
    text-align: center;
    margin-bottom: 5em;
}

.set-buttons {

    display: flex;
    flex-direction: row;
}

.change-form {
    display: flex;
    flex-direction: column;
    margin: 5em;
}

.change-password:hover,
.change-username:hover,
.Delete:hover {
    background-color: rgba(248, 0, 0, 0.697);
    color: rgb(0, 0, 0);
    cursor: pointer
}